.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.city-input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FF8000; 
  border-radius: 4px;
  margin-right: 10px;
  outline: none; 
}

.city-input::placeholder {
  color: #aaa;
  
}

